body {
        margin: 0;
        padding: 30px 40px;
        background-color: #4cb8e0;
}
@media (orientation: portrait) {
        body .content {
                max-width: 100%;
                box-shadow: 4px 6px 8px rgba(0,0,0,.5);
        }
}
.content {
        min-height: 75vh;
        max-width: 600px;
        padding: 15px;
        margin: 0 auto;
        box-shadow: 2px 3px 4px rgba(0,0,0,.5);
        background-color: white;
}
.header * {
        text-align: center;
}
#games_select {
  width: 14em;
}
canvas {
  box-shadow: 2px 3px 4px rgba(0,0,0,.5);
}
.code {
  box-sizing: border-box;
  box-shadow: 2px 3px 4px rgba(0,0,0,.5);
  width:100%;
  background-color: rgba(100,100,100,.2);
  font-family: monospace;
  padding: 5px;
  overflow-x: hidden;
}
